{% extends 'layout/app.html' %} {% load static %} {% block body %} 
{% include "elements/dropdowncplan.html" %}
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Cambio de Plan</h1>

  <div class="row">
    <div class="col-lg-12">
      <!-- Circle Buttons -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">EMPAQUETAMIENTO</h6>
        </div>
        <div class="card-body">
          <p>
            Solo Internet a Dúo. Firma nuevo contrato. Tiempo de atención en
            terreno de 3 a 5 días hábiles. <br />
            Si al momento de la solicitud, la factura del mes actual no se ha
            emitido, la generamos; acto seguido procedemos a realizar el cambio
            de plan en sistema y emitimos la orden de servicio, en tipo CAMBIO
            DE PLAN SOLO @ A DUO.<br />
            Si solicita le sea informado el valor a pagar, hacemos un aproximado
            así: Liquidamos desde el 1 día del mes hasta el día en que está
            haciendo la solicitud con la tarifa del plan actual y del día
            siguiente hasta el último día del mes, con la tarifa del nuevo plan.
            DÍA ANTERIOR A LA SOLICITUD. DÍA DE LA SOLICITUD.<br />
            Se liquida con el plan actual. Se liquida con el nuevo plan hasta la
            fecha de corte de facturación. (28, 30 o 31 de cada mes.)<br />
            No generamos ningún tipo de ajuste (N.D O N.C) en sistema hasta
            tanto no se finalice la orden de servicio, por lo que debemos hacer
            seguimiento hasta final del proceso, puesto que en el caso que
            queden saldos pendientes debemos informar al titular del servicio
            para que no se le genere corte del servicio. Si por el contrario
            queda con saldo a favor, este queda para el próximo mes. <br />
            Es importante tener en cuenta que: La franquicia Pereira es de solo
            televisión y es utilizada solo en las oficinas Éxito de Cuba y la
            Principal. Si el titular cuenta con servicio de solo televisión y
            desea adicionar servicio de Internet, podemos ofrecer cualquiera de
            los planes vigentes. La mensualidad a registrar en el nuevo contrato
            es la correspondiente al valor del servicio de internet, sin la
            televisión. (Solo en el caso de ser una fidelización previa
            autorización de la UPF, liderada por John Jairo Maldonado, ofrecemos
            el Plan 20 megas de internet + Televisión por $54.000, en el cual el
            valor mensual del internet es de $14,000).<br />
            Utilizamos el mismo abonado de Televisión: Escanear el contrato,
            cédula en caso de ser necesario, habeas data, validación facial y
            subirlos, sin eliminar los adjuntos ya existentes
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <!-- Circle Buttons -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">
            GESTIÓN EN SISTEMA EMPAQUETAMIENTO INTERNET:
          </h6>
        </div>
        <div class="card-body">
          <p>
            Consultamos al abonado en la franquicia Pereira (Televisión). En
            datos de los servicios mensuales suscritos, solicitamos: Nuevo tipo
            de servicio - Tipo de servicio GPON - Descripción: Instalación
            gratis y la añadimos. En suscripción mensual: Tipo de servicio GPON
            - Descripción: El plan de internet solicitado y lo añadimos - En los
            datos de la solicitud llenamos todos los campos - En las
            observaciones registramos : EMPAQUETAMIENTO, ADICIONA INTERNET Y
            ESPECIFICAR EL PLAN CON EL QUE QUEDÓ - Solicitar servicio. Nos
            aparecerá el servicio de televisión activo y la solicitud del nuevo
            servicio en suspendido, la cual quedará activa en el momento que
            instalen el servicio y finalicen la orden. Si tiene contratado un
            plan de solo internet de 50 megas por $64.000 y desea adicionar
            servicio de televisión, la mensualidad a registrar en el nuevo
            contrato es la correspondiente a la tarifa plena del plan
            equivalente o solicitado por el titular del servicio.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <!-- Circle Buttons -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">
            GESTIÓN EN SISTEMA EMPAQUETAMIENTOS TELEVISIÓN:
          </h6>
        </div>
        <div class="card-body">
          <p>
            Se hace el cambio de plan por la opción actualizar servicios,
            eliminamos el plan que tiene registrado, en Tipo de servicio GPON,
            en descripción: El plan de internet solicitado y lo añadimos. En los
            datos de la solicitud llenamos todos los campos, por ultimo
            solicitar servicio.<br />
            Generamos una orden de servicio. En detalles de la orden CAMBIO PLAN
            SOLO @ A DUO y registrar en las observaciones: EMPAQUETAMIENTO
            ADICIONA TV Y ESPECIFICAR EL PLAN CON EL QUE QUEDÓ.<br />
            En ambos casos solicitar a Karen Botero o María Cristina López, el
            cambio de número de contrato y reportar en WorkDrive en la pestaña
            cambios de plan.<br />
            Si tomó un plan de DÚO, pero al momento de la instalación pidió que
            le instalaran solo internet y posteriormente solicita la instalación
            de los puntos de televisión, no es necesario firmar un nuevo
            contrato, en este caso solo generamos la orden de servicio para la
            instalación de los puntos de televisión.<br />
            Tener en cuenta que aplica para planes de 15MG + TV, 100MG + TV,
            200MG + TV.<br />
            La orden será atendida en un tiempo no mayor a 8 días hábiles.<br />
            Si contrato con plan dúo de GPON 50 MG * $77,000 y al momento de la
            instalación solicita instalar solo internet, firma nuevo contrato
            con el plan GPON SOLO @ 50MG * $64.000
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block javascript %} {% endblock %}
