{% extends 'layout/app.html' %} {% load static %} {% block body %}
<div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800 ">Cambio de Titularidad</h1>

                   

                    <div class="row">

                        <div class="col-lg-6">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Requisitos:</h6>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Tramitar presencialmente en oficina.<br>
                                        Debe presentarse el titular que entrega el servicio y el
                                        titular que recibe, ambos con cédula física al momento
                                        de la solicitud.<br>
                                        El titular que entrega el servicio debe estar al día en 
                                        pagos.<br>
                                        Consultar al nuevo titular con la finalidad de verificar si
                                        tiene o ha tenido servicios con la compañía; de ser así, 
                                        debe estar al día por todo concepto.<br>
                                        Diligenciar el CONTRATO ÚNICO DE SERVICIOS 
                                        FIJOS al nuevo titular.<br>
                                        Explicar la política de pagos, reconexión y retiros,
                                        entregar información complementaria.<br>
                                        Se utiliza el mismo abonado. <br>
                                        Se hace cambio de propietario.<br>
                                        NO se debe eliminar los adjuntos del anterior titular.
                                        Digitalizar y subir el nuevo contrato, cédula, habeas 
                                        Data y validación facial.<br>
                                        Registrar en la planilla SOPORTE TÉCNICO INTERNO, 
                                        pestaña cambios de titularidad.<br>
                                        *Tener en cuenta que este último paso aplica para
                                        oficinas propias de la marca.<br>
                                        **Las agencias de Samaria, Villa Santana, Altagracia, 
                                        Anserma Nuevo y Parque Industrial, deben hacer
                                        la solicitud de cambio de número de contrato a
                                        través del correo lectrónico auditoria@tucable.net 
                                        Enasunto: CAMBIO DE NUMERACIÓN FÍSICA DE
                                        CONTRATO y anexar la información requerida. Para
                                        el cambio en WINBOX la solicitud se debe enviar al
                                        correo electrónico
                                        gestion.comunicacion@tucable.net
                                        En asunto: CAMBIO DE TITULARIDAD y anexar la 
                                        información requerida.
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">GESTIÓN EN SISTEMA</h6>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Consultamos al usuario para verificar la información y
                                        validar si el reintegro es solo por el valor correspondiente a
                                        la instalación del servicio o incluye también el valor de la
                                        primera mensualidad.<br>
                                        Ruta para hacer el procedimiento de la anulación de la
                                        orden de servicio, vamos a:<br>
                                        Módulo de Operaciones:<br>
                                        ✓ Órdenes técnicas.<br>
                                        ✓ Asignar/imprimir orden.<br>
                                        ✓ Traemos el abonado por el histórico.<br>
                                        ✓ Seleccionamos grupo de trabajo.<br>
                                        ✓ Seleccionamos la orden desde la franja blanca.<br>
                                        ✓ Le damos imprimir en caso de no haber sido impresa 
                                        pero no la enviamos a la impresora.<br>
                                        Luego vamos al MÓDULO OPERACIONES opciones:<br>
                                        ✓ Órdenes técnicas / Finalizar Orden.<br>
                                        ✓ Traemos la orden por el histórico. En el campo
                                        observaciones dejamos registro detallado del motivo
                                        por el cual desiste del servicio, el valor que se reintegra
                                        y si entregó las copias azules del contrato y el original
                                        del recibo de caja.<br>
                                        ✓ Cancelar orden.<br>
                                        El estatus pasa a ANULADO
                                        En aquellos casos que el contrato, no haya sido
                                        registrado en sistema, lo anulamos en módulo de
                                        administración, por contratos y recibos, procesar
                                        contratos, seleccionamos el contrato y clic en anulado.<br>
                                        El contrato físico debe llevar el sello de anulado.<br>
                                        **Las agencias de Samaria, Villa Santana, Altagracia y
                                        Parque Industrial, deben hacer la solicitud para que
                                        realice la cancelación de la cuenta PPPoE a través del
                                        correo electrónico gestion.comunicacion@tucable.net En
                                        asunto: Desistimiento y anexar la información requerida.

                                    </p>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    


                </div>
                 {% endblock %} {% block javascript %} {% endblock %}