{% extends 'layout/app.html' %} {% load static %} {% block body %} 
{% include "elements/dropdownsoporte.html" %}
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">CAMBIO DE CLAVE</h1>

  <div class="row">
    <div class="col-lg-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3 text-center">
          <h5 class="m-0 font-weight-bold text-primary">
            Tenga presente los siguientes puntos:
          </h5>
        </div>
        <div class="card-body">
          <p>
            ▪ Tramitar a través de WhatsApp.<br />
            ▪ Requisitos:<br />
            ▪ Estar al día en pagos.<br />
            ▪ La solicitud solo puede ser realizada por el titular del
            servicio.<br />
            ▪ Para validar la identidad del titular del servicio debe enviar
            foto del documento de identificación por ambas caras.<br />
            ▪ Escribir desde una de las líneas registradas en sistema, de lo
            contrario no se podrá procesar la solicitud y se debe invitar al
            usuario a acercarse a la oficina para actualizar datos y así poder
            ejecutar la solicitud.<br />
            ▪ En ambos casos (cambio de clave y/o nombre de red):<br />
            ▪ Informar nombre de la red WI-FI actual y en caso de cambio
            informar el nuevo nombre.<br />
            ▪ Clave actual y nueva clave, la cual debe contener mínimo 8
            caracteres máximo 15 y debe tener alto grado de <br />
            complejidad para mayor seguridad, no debe contener caracteres
            especiales (*/%\#<|°()^@-).<br />
            El cambio se hará efectivo el mismo día y se confirmará el cambio a
            través de mensaje de texto al número de teléfono principal. Si la
            solicitud se recibe a partir de las 5 pm, debemos informar al
            titular del servicio que el cambio se efectúa al día siguiente.<br />
            Tener en cuenta que este último paso aplica para oficinas propias de
            la marca.<br />
            Si la solicitud se realiza por los usuarios de las agencias de
            Samaria, Villa Santana, Altagracia y Parque Industrial, deben
            hacerla en la oficina respectiva y estas se encargarán de comunicar
            la solicitud a través del correo gestion.comunicacion@tucable.net
            asunto: CAMBIO DE CLAVE y se debe anexar la información requerida.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block javascript %} {% endblock %}
