{% extends 'layout/app.html' %} {% load static %} {% block body %} {% include "elements/dropdowndesistimiento.html" %}
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Desistimiento de Contrato</h1>

  <div class="row">
    <div class="col-lg-12">
      <!-- Circle Buttons -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">
            ANULACIÓN DE CONTRATO POR DESISTIMIENTO DEL SERVICIO:
          </h6>
        </div>
        <div class="card-body">
          <p>
            La anulación del contrato se realiza cuando no se da la instalación
            del servicio, por NO cobertura o motivos personales en cuyo caso
            haremos el sumo esfuerzo para conservar al cliente; sin embargo, si
            la persona decide desistir, siempre hacemos el reintegro, ya que no
            queremos replicar una imagen negativa de la compañía.<br />
            Para el reintegro del dinero, el titular del servicio debe
            presentarse en oficina con cédula física, hacer entrega de las
            copias azules del contrato, firmar el egreso con número de cédula y
            huella y diligencias el formato de desistimiento.<br />
            Siempre se debe diligenciar el formato DESISTIMIENTO DEL CONTRATO el
            cual se encuentra en WorkDrive. Sedilgencianlosdatosdelsuscriptor y
            número del contrato y del recibo de caja, así como el motivo por el
            cual desiste del servicio, se imprime para que el usuario firme y
            deje registrados los datos que se le solicitan al lado de la firma,
            se debe digitalizar el formato junto con el egreso y subir a SAE
            PLUS bajo la opción CARTA MOTIVO RETIRO.<br />
            Solo en el caso que el titular manifiesta la perdida de las copias
            del contrato y después de validar que es así, se diligencia el
            formato DESISTIMIENTO CON PÉRDIDA DE CONTRATO. Actualizar los datos
            del suscriptor, el número de contrato, el motivo y el número del
            recibo de caja que le fue entregado, se imprime para que el usuario
            firme y deje registrados los datos que se le solicitan al lado de la
            firma, se debe digitalizar el formato junto con el egreso y subir a
            SAE PLUS bajo la opción CARTA MOTIVO RETIRO.<br />
            Si por alguna circunstancia especial el titular no puede acercarse,
            puede enviar a un tercero con las copias del contrato y el recibo de
            caja original, solicitamos un número de cuenta para hacer la
            transferencia, estos casos deben estar previamente autorizados por
            Marly Johanna Cely. <br />
            • Estampar sello de anulado a todas las hojas del contrato y del
            recibo de caja.<br />
            En aquellos casos que en sistema el abonado aparezca en estatus
            anulado, pero no se haya hecho devolución del valor de instalación y
            el titular no haya hecho entrega de las copias azules, ni del recibo
            de caja y solicite la instalación del servicio, generamos orden de
            instalación, actualizamos datos y NO firma nuevo contrato, ni paga
            instalación por estar ya paga.<br />
            En el evento que el titular actual solicite cambio de titularidad,
            en este caso firma nuevo contrato, firma el formato de
            desistimiento, en el que se debe aclara que este se da por cambio de
            titularidad, contrato aún sin instalar. NO se genera cobro puesto
            que ya ha sido pagada la instalación. Firmara nuevo contrato si
            solicita cambio de plan.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block javascript %} {% endblock %}
