{% extends 'layout/app.html' %}

{% load static %}
{% block body %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Noticias</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Actualidad</li>
        </ol>

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://scontent-bog2-1.xx.fbcdn.net/v/t39.30808-6/418313787_753085323506587_8472508474356102908_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeGpuMVqMrwhNhp121IlhBWWuxr3JtpXJQ67Gvcm2lclDh4OdHQUOdmL60LjcfWuWtvQ9ZluZjDhRZ-T_Jec--k5&_nc_ohc=CWCCFHo_-cUQ7kNvgF4vZoh&_nc_ht=scontent-bog2-1.xx&oh=00_AYBR4LiDiXLm4XGx5_y_kzlDJPzXsfQseA1yMTshtcFLww&oe=668B7632" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://scontent-bog2-1.xx.fbcdn.net/v/t39.30808-6/418299525_753047723510347_7726368997592538016_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=86c6b0&_nc_eui2=AeEkWm2MhpCXiNqvPEs_YMvqfpelwpNp-eJ-l6XCk2n54v5XmSUqUpkdVtwYE8oBSnTU7biispdbr4T62cs3l2Xy&_nc_ohc=le-sIZsGEUMQ7kNvgFPqfV1&_nc_ht=scontent-bog2-1.xx&oh=00_AYBBqIkXbiRkzdNoOfAvhHFrHB8V4jGSy8Bnd4Yn4r2IDA&oe=668B76A8" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://scontent-bog2-1.xx.fbcdn.net/v/t39.30808-6/326524845_1421771561962518_6347335498396455491_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=86c6b0&_nc_eui2=AeG5vWLP9DkhEHTbspkvMOBstLNDcsBCbom0s0NywEJuie5NZ0EFiTyz8W1kN1AdOh5HF_HMvNukX__YwhXbi1sA&_nc_ohc=MBYoOR7lP0oQ7kNvgFUiZn8&_nc_ht=scontent-bog2-1.xx&oh=00_AYAxOKQdmlBeHymhRuJHDkkOnp_tIXrT-yQuL1Ryh_g-cQ&oe=668B6500" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>



    </div>
{% endblock %}
{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'assets/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'assets/demo/chart-bar-demo.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
{% endblock %}