{% extends 'layout/app.html' %} {% load static %} {% block body %} {% include "elements/dropdownpagos.html" %}
<div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800 ">Pagos TuCable</h1>



                    <div class="row ">

                        <div class="col-lg-12 ">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 text-center">
                                    <h5 class="m-0 font-weight-bold text-primary">PROCEDIMIENTO PARA RECIBIR PAGOS POR
                                        TRANSFERENCIA A CUENTA SCOTIABANK COLPATRIA:</h5>
                                </div>

                                <div class="card-body">
                                    <p>
                                        Estos pagos son recibidos e ingresados a través del área de Call Center, al
                                        momento de recibir un pago por transferencia debemos seguir los siguientes
                                        pasos:<br>
                                        Consultar al titular del servicio<br>
                                        ✓Al aplicar el pago debemos revisar en el soporte el valor que transfirió, si
                                        pagó el valor que indica el sistema seleccionamos en DETALLE
                                        CARGOS A PAGAR, si es un valor diferente digitamos el valor que transfirió <br>
                                        ✓Validar en el soporte que envió el usuario si realizó el pago a cuenta
                                        corriente o cuenta de ahorro, para que en DETALLE FORMA DE
                                        PAGO-FORMA DE PAGO seleccionemos CTE 4815 COLP o AHORROS 4841 COLP
                                        <br>✓Seleccionamos el BANCO correspondiente de donde el usuario realizó la
                                        transacción <br>✓ En REFERENCIA digitamos por qué medio se recibió la
                                        transferencia que sería VÍA WHATSAPP, ya que se reciben los soportes de los
                                        pagos realizados por transferencia a los números del área de Call Center<br>
                                        ✓Seleccionamos AGREGAR y seguido de esto PROCESAR<br> ✓Nos va aparecer en
                                        sistema la tirilla POS, esta la descargamos nombrándola con el número de abonado
                                        para luego ser enviada por vía
                                        WhatsApp al usuario.<br>
                                        En caso de aplicar un pago de manera errada se procederá con la anulación del
                                        pago, para esto debemos
                                        comunicarnos con Karen Botero quien autorizará dicha anulación.<br>
                                        Cuando recibamos pagos de la Franquicia PEREIRA debemos validar: El tipo de
                                        servicio que tiene contratado el usuario, si es solo
                                        Televisión por suscripción o Televisión + internet. Esto es muy importante ya
                                        que al generar los cortes por facturación se suspende el
                                        servicio de internet, quedando activa la televisión y la facturación continuara
                                        generándose por el valor de la televisión y no por el valor
                                        completo del plan, de ahí que debamos revisar que el comando haya sido exitoso y
                                        reportarlo en el archivo de cortes y directamente a Luisa
                                        Botero.<br>

                                        <img src="{% static 'assets/img/pago2.png'}"><br>
                                        En aquellos casos que el usuario pague mensualidad adelantada, antes de aplicar
                                        el pago, debemos cargar la
                                        factura y posteriormente aplicamos el pago, esto con el fin que quede
                                        discriminado en la tirilla POS.<br>
                                        Todos los gastos deben ser reportados en SAEPLUS, dejando registro detallado del
                                        gasto.<br>
                                        Todos los gastos deben contar con previa aprobación por parte de Héctor Botero o
                                        Marly Johanna Cely, por lo que
                                        debemos abstenernos de entregar dinero sin antes consultar y contar con la
                                        autorización correspondiente.<br>
                                        CIERRE DIARIO DE CAJA: Se debe descargar el PDF y se envía a Karen Botero, junto
                                        con el valor total de las
                                        entregas.<br><br>
                                        ¡ IMPORTANTE !<br><br>
                                        Ten presente que habrá casos en los cuales apliquen descuentos sobre el servicio
                                        y otros donde debas ajustar el
                                        monto a cancelar, por lo que según el caso debemos aplicar Notas Crédito o
                                        Débito.<br>
                                        NOTA CRÉDITO: Nos permite descontar para ajustar un valor. Una vez solicitadas
                                        serán aprobadas por el área
                                        correspondiente.<br>
                                        NOTA DÉBITO: Nos permite ajustar un valor errado. (suma). Una vez solicitadas
                                        serán aprobadas por el área
                                        correspondiente.<br>
                                        Para el año 2023 los usuarios de EOC continuaran pagando por el servicio de
                                        televisión $34.000 y los de GPON
                                        $45.000; sin embargo, en el evento que debamos hacer algún tipo de ajuste se
                                        liquidara sobre la base de $34.000.<br>
                                        Recuerden que después de 2,5 horas sin conectividad a internet, los usuarios
                                        tienen derecho al descuento
                                        proporcional sobre dicho servicio. En el caso de la televisión se descontara
                                        después de 16 horas continuas y el
                                        descuento será proporcional.

                                    </p>

                                </div>
                            </div>
                        </div>


                    </div>



                </div>
                  {% endblock %} {% block javascript %} {% endblock %}