{% extends 'layout/app.html' %} {% load static %} {% block body %}
{% include "elements/dropdownpqr.html" %}
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800 ">Peticion, quejas y reclamos</h1>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 text-center">
                                    <h5 class="m-0 font-weight-bold text-primary">PQRS Y DERECHOS 
                                        DE PETICIÓN</h5>
                                </div>
                                <div class="card-body">
                                    <p>
                                        El titular o usuario del servicio, tiene derecho a presentar una
                                        PQRS o un Derecho de Petición en cualquier momento y a
                                        través de cualquiera de los canales provistos por la compañia.<br>
                                        Cuando un cliente presente una PQRS o un Derecho de
                                        Petición de forma verbal, basta con que nos indique su nombre
                                        completo, el número de identitificación y el motivo de su
                                        solicitud.<br><br>
                                        Podemos darle la opción de llenar el FORMATO PARA
                                        PRESENTACIÓN DE PQRS, el cual se encuentra disponible en
                                        todas las oficinas. Una vez diligenciado el documento,
                                        verificamos que cuente con nombres completos, documento,
                                        teléfonos y correo electrónico. Grabamos la solicitud con el sello
                                        de recibido de la compañía, llenamos los campos que están en
                                        blanco. Tomamos una copia al documento, la cual entregamos
                                        al cliente y el original debe ser digitalizado y enviado de manera
                                        inmediata al correo quejasyreclamos@tucable.net , el físico se
                                        envía a María Cristina López en la oficina principal, en el menor
                                        tiempo posible. <br><br>
                                        Cuando el cliente presente una PQRS o un Derecho de Petición
                                        de forma escrita, debe contener su nombre completo, el número
                                        de identitificación, su dirección de notificación, correo
                                        electrónico y el motivo de su solicitud. Grabamos la solicitud con
                                        el sello de recibido de la compañía, llenamos los campos que
                                        están en blanco. Tomamos una copia al documento, la cual
                                        entregamos al cliente y el original debe ser digitalizado y
                                        enviado de manera inmediata al correo
                                        quejasyreclamos@tucable.net , el físico se envía a María
                                        Cristina López en la oficina principal, en el menor tiempo
                                        posible.<br>
                                        Si ya trae un documento redactado por él, validamos que la
                                        fecha corresponda con la fecha del día en que está radicando
                                        su escrito.<br>
                                        Si la PQR’s es para solicitar documentos o facturas se dará
                                        respuesta en un termino de 10 días hábiles siguientes a su
                                        recepción.<br>
                                        Si la PQRS o Derecho de Petición es por inconformidad con
                                        el servicio, se dará respuesta en un termino de 15 días
                                        hábiles siguientes a su recepción.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-6">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Informar al usuario que siempre debe mantener sus datos
                                        actualizados.</h6>
                                </div>
                                <div class="card-body">
                                    <p>
                                        En el caso de personas naturales o jurídicas que NO
                                        tengan servicios contratados con la compañía y deseen
                                        presentar una PQRS o un Derecho de Petición, por temas
                                        como reubicación de redes, desechos dejados por parte de
                                        los técnicos al momento de realizar labores en terreno
                                        entre otros, deben traer su manifestación de manera
                                        escrita. En caso de no traerla podemos facilitarle una hoja
                                        en blanco para que nos dé a conocer su solicitud.<br>
                                        En el caso de la persona jurídica, esta solicitud debe venir
                                        en papel membretado. Realizamos las validaciones
                                        mencionadas en los dos casos anteriores, grabamos la
                                        solicitud con el sello de recibido de la compañía, llenamos
                                        los campos que están en blanco. Tomamos una copia al
                                        documento, la cual entregamos al cliente y el original debe
                                        ser digitalizado y enviado de manera inmediata al correo
                                        quejasyreclamos@tucable.net , el físico se envía a María
                                        Cristina López en la oficina principal, en el menor tiempo
                                        posible.
                                       
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Cabe aclarar:</h6>
                                </div>
                                <div class="card-body">
                                    <p>
                                        El FORMATO PARA PRESENTACIÓN DE PQRS
                                        es para los clientes que tienen servicio con la compañía.
                                        Toda persona tiene derecho a presentar una petición, ya sea de
                                        manera verbal o escrita a través de los canales dispuestos por
                                        la compañía; sin embargo, es importante aclarar que ningún
                                        funcionario debe alentar a un cliente o usuario a diligenciar el
                                        formato o interponer una PQR’s o Derecho de petición, por el
                                        contrario, siempre debemos estar en posición de solucionar de
                                        manera inmediata las inconformidades que lleguen a nosotros.<br>
                                        Por lo anterior debemos analizar cada situación y solo en el caso que el
                                        usuario manifieste su firme deseo de interponerla debemos hacer el
                                        acompañamiento y recibirla.
                            </div>
                        </div>
                    </div>



                   
                   

                </div>


                </div>

            </div>
        </div>
          {% endblock %} {% block javascript %} {% endblock %}