{% extends 'layout/app.html' %} {% load static %} {% block body %}
{% include "elements/dropdownpqr.html" %}
<div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800 ">Política de PQRs</h1>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 text-center">
                                    <h5 class="m-0 font-weight-bold text-primary">Tenga presente los siguientes puntos:</h5>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Seamos muy receptivos cuando lleguen personas a presentar una
                                        queja o inconformidad hacia algún funcionario de la compañía.<br>
                                        Hagámosle ver la importancia de dejar registro escrito de lo
                                        sucedido, indicándole que esto nos permitirá mejorar la calidad de
                                        nuestro servicio y tomar los correctivos necesarios para que
                                        situaciones como la que experimentó no se repitan.<br>
                                        En este ultimo caso se debe tener presente que, aunque estamos
                                        recibiendo una queja directa del personal de la compañia, no debemos
                                        hablar mal de ninguno de nuestros compañeros.<br>
                                        Recuerde la importancia de manejar la confidencialidad de la
                                        información que reposa en nuestro sistema de Gestión de Clientes
                                        y que ha sido suministrada por el titular del servicio, acogiéndose a
                                        la Ley del Habeas Data.<br>
                                        NO debemos suministrar ningún tipo de información verbal
                                        (números telefónicos, dirección, barrio, correo electrónico), ni
                                        documento (tirillas de pago, documentos anexos, órdenes de
                                        servicio, estados de cuenta) a terceros, incluso, si estos se
                                        identifican como funcionarios de entidades Gubernamentales, de
                                        Justicia o Fiscalía
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-6">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Informar al usuario que siempre debe mantener sus datos
                                        actualizados.</h6>
                                </div>
                                <div class="card-body">
                                    <p>
                                        En caso de ser una entidad Gubernamental, de Justicia o Fiscalía,
                                        debe hacer la solicitud mediante Orden Judicial y radicarla en
                                        cualquiera de nuestras oficinas o enviarla directamente al correo
                                        electrónico quejasyreclamos@tucable.net.
                                        En los casos que el funcionario llegue con la Orden Judicial y pida
                                        le sea entregada o suministrada la información de manera
                                        inmediata, debemos tener presente que ninguna oficina está
                                        autorizada para suministrar información o entregar documentos.
                                       
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Cabe aclarar:</h6>
                                </div>
                                <div class="card-body">
                                    <p>
                                        El procedimiento es recibir la orden, poner sello de recibido
                                        en el original y la copia, siendo este último el que
                                        entregamos al funcionario.
                                        El documento debe ser digitalizado y enviado de manera
                                        inmediata al correo electrónico
                                        quejasyreclamos@tucable.net , quien con apoyo del
                                        Departamento Jurídico dará respuesta a la orden.
                                        No olvidemos enviar el documento físico a la oficina
                                        principal
                            </div>
                        </div>
                    </div>



                   
                   

                </div>
                  {% endblock %} {% block javascript %} {% endblock %}