{% extends 'layout/app.html' %} {% load static %} {% block body %}
{% include "elements/dropdownpqr.html" %}           
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800 ">Política de PQRs</h1>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 text-center">
                                    <h5 class="m-0 font-weight-bold text-primary">Tenga presente los siguientes puntos:
                                    </h5>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Recuerden por favor que, aunque tenemos la opción de
                                        dirigir a la persona al correo corporativo ya mencionado,
                                        NO debemos negarle la oportunidad de dejar radicada su
                                        solicitud en oficina.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-12">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Informar al usuario que siempre debe
                                        mantener sus datos
                                        actualizados.</h6>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card-body">
                                    
                                        
                                             <img src="{% static 'assets/img/pqr.png' %}" >
                                        
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card-body">
                                        
                                             <img src="{% static 'assets/img/pqr2.png' %}" >
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Cabe aclarar:</h6>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Campos como la fecha de
                                        diligenciamiento de la PQRs no deben
                                        faltar, así como tampoco el sello de
                                        recibido, con la fecha y hora en que se
                                        radico el documento y nombre del
                                        funcionario que recibe.<br>
                                        Recuerde que debe tomar una copia
                                        para el usuario y el original debe ser
                                        enviado de manera inmediata en formato
                                        PDF al correo
                                        quejasyreclamos@tucable.net y el
                                        original se hace llegar en el menor
                                        tiempo a la oficina principal a María
                                        Cristina López L..

                                    </p>
                                </div>
                            </div>
                        </div>






                    </div>


                </div>

            </div>
        </div>
          {% endblock %} {% block javascript %} {% endblock %}