 <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800 ">Solicitud de los usuarios   </h1>

                   

                    <div class="row ">

                        <div class="col-lg-12 ">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                
                                <div class="card-body">
                                    <p>
                                        Cuando un usuario solicita que no le enviemos mensajes de texto debemos tener en cuenta lo siguiente:<br>
                                        • Validar titularidad.<br>
                                        • Debe tener un excelente estado de cuenta (pagar dentro de las fechas estipuladas).<br>
                                        • Los números de cliente deben ser registrados en el campo referencias, junto al plan contratado.<br>
                                        • En datos personales del usuario registramos la linea de Call Center.<br>
                                        Dejamos registro en la pestaña observaciones que se suprimen los teléfonos porque no desea recibir mensajes de 
                                        texto.<br>
                                        <img src="img/suser1.png"><br>
                                        Cuando un usuario solicite copia de la tirilla de pago, copia de la factura, impresión del estado de cuenta o de alguno de
                                        los documentos anexos, debe hacer una solicitud formal a través de quejasyreclamos@tucable.net. Las oficinas no están
                                        autorizadas para hacer entrega de ningún documento, a excepción del Paz y Salvo.
                                    </p>
                                </div>
                            </div>
                        </div>
                       
                    
                    </div>
                    


                </div>
                  {% endblock %} {% block javascript %} {% endblock %}