{% extends 'layout/app.html' %} {% load static %} {% block body %} {% include "elements/dropdownsoporte.html" %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800 ">Identificación de falla</h1>

                   

                    <div class="row">

                        <div class="col-lg-12">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">VALIDACION DE FALLA:</h6>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Tenga en cuenta los siguientes aspectos, para definir
                                        si el soporte se hará de manera remota o en terreno.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-6">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Sin internet: </h6>
                                </div>
                                <div class="card-body">
                                    <p>
                                        ✓ Validar de qué color alumbra el bombillo del 
                                        módem.<br>
                                        ✓ Si alumbra rojo significa que hay daño en la fibra, 
                                        se reporta en WorkDrive.<br>
                                        ✓ El nombre de la red ha desaparecido. Significa que 
                                        el módem se encuentra reseteado.<br>
                                        NO se hace orden en sistema, se registra en el
                                        formato SOPORTE TÉCNICO INTERNO, pestaña sin
                                        internet
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Lentitud, intermitencia, cobertura o problemas de 
                                        configuración: </h6>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Falla por lentitud preguntamos:<br>
                                        ✓ Número de equipos que conecta.<br>
                                        ✓ Procesos que lleva a cabo en los dispositivos que
                                        conecta o plataformas que utiliza.<br>
                                        Intermitencia:<br>
                                        ✓ Se debe tener en cuenta las caídas que se hayan
                                        presentado a nivel general para dar un manejo
                                        coherente y oportuno.
                                    </p>
                                </div>
                            </div>
                        </div>
                        



                   
                   

                </div>
                <div class="row">

                    <div class="col-lg-6">

                        <!-- Circle Buttons -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Fallas de cobertura:
                                </h6>
                            </div>
                            <div class="card-body">
                                <p>
                                    ✓ Validamos la ubicación del módem.<br>
                                    ✓ Medidas de la casa.<br>
                                    ✓ Número de pisos que tiene la vivienda, esto permite 
                                    determinar si la falla es por:<br>
                                    1.Ubicación del módem (que no puede ser solucionado 
                                    remotamente).<br>
                                    2. Si es necesario instalar un repetidor o si es posible dar
                                    solvencia de manera remota.<br>
                                    Adicional a lo anterior, recordemos que dentro del conducto
                                    regular e independientemente del medio de solicitud, el
                                    primer paso que se le indica al usuario es el reinicio del
                                    módem, posterior a ello, se hacen las respectivas
                                    validaciones; por ello, si recibimos quejas en las que el
                                    usuario agrega que "solo" le indican que reinicie el módem,
                                    debemos darle la importancia debida a este proceso y evitar
                                    consignar esta información innecesaria en la orden generada
                                    en WorkDrive o SAE PLUS, TODOS sabemos que un activo
                                    en algún punto de su vida útil puede llegar a bloquearse y
                                    este tipo de bloqueos se soluciona desconectando y
                                    volviendo a conectar el módem.<br><br>
                                    • Ingeniera Luisa Botero
          
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">

                        <!-- Circle Buttons -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Fallas en el servicio de Televisión. </h6>
                            </div>
                            <div class="card-body">
                                <p>
                                    Fallas en la televisión tales como:<br>
                                    ✓ Lluvia en la señal.<br>
                                    ✓ Canales pixelados.<br>
                                    ✓ Fantasmas.<br>
                                    ✓ Rayas.<br>
                                    ✓ Lluvia y rayas al tiempo.<br>
                                    ✓ Intermitencia en la televisión.<br>
                                    ✓ Sin servicio de televisión.<br>
                                    ✓ Ausencia de canales a pesar de haber reprogramado.<br>
                                    Se soluciona en terreno por lo que requiere orden de servicio 
                                    en SAE PLUS.<br>
                                    En todo los casos anteriores debemos generar orden de
                                    reclamos en SAE PLUS, para ser atendida en terreno.<br>
                                    Es muy importante antes de generar la orden validar 
                                    que:<br>
                                    ➢ Haya reprogramado el televisor.<br>
                                    ➢ Revisar que el cable coaxial esté bien
                                    conectado al puerto RF del televisor
                                </p>
                            </div>
                        </div>
                    </div>
                    



               
               

            </div>


                </div>

            </div>
        </div>
             {% endblock %} {% block javascript %} {% endblock %}