{% extends 'layout/app.html' %} {% load static %} {% block body %} {% include "elements/dropdownsoporte.html" %}
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800 ">Politica de soporte técnico</h1>



                    <div class="row">

                        <div class="col-lg-12">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Registro de orden de reclamos en SAE
                                        PLUS</h6>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Módulo de abonados:<br>
                                        Consultar cédula del titular. (Esto nos permite validar que
                                        esté al día en pagos).<br>
                                        • Actualizar datos (teléfonos y correo electrónico).<br>
                                        • Generar la orden por los atajos, o por el Módulo de
                                        Operaciones.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-6">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Módulo de Operaciones: </h6>
                                </div>
                                <div class="card-body">
                                    <p>
                                        • Órdenes Técnicas.<br>
                                        • Crear Orden.<br>
                                        • Consultar por número de abonado, cédula o traer por
                                        el histórico.<br>
                                        • Tipo de orden: Orden de Reclamos.<br>
                                        • Detalle de Orden.<br>
                                        • Descripción de la orden, se deja registro detallado de
                                        la falla que presenta el usuario.<br>
                                        • Registrar.


                                    </p>
                                </div>
                            </div>
                        </div>
                    

                        <div class="col-lg-6">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Por atajos: </h6>
                                </div>
                                <div class="card-body">
                                    <p>
                                        En la pantalla de abonados o en cobranza,
                                        click en ícono generar órdenes de servicionos
                                        direcciona automáticamente a crear orden:<br>
                                        • Tipo de Orden (Orden de Reclamos).<br>
                                        • Detalle de Orden. Se deja registro detallado de la
                                        falla que presenta el usuario.


                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="row">

                            <div class="col-lg-12">

                                <!-- Circle Buttons -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Reporte a Formato de soporte
                                            tecnico interno: </h6>
                                    </div>
                                    <div class="card-body">
                                        <p>
                                            Si la Orden se reporta en el formato Soporte Técnico
                                            Interno, seguimos la siguiente ruta:<br>
                                            • Ingresamos al correo correspondiente a la oficina
                                            donde se encuentra asignado para trabajar.<br>
                                            • Aplicaciones Zoho<br>
                                            • Soporte Técnico Intern
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>

                </div>
            </div>
                 {% endblock %} {% block javascript %} {% endblock %}