
{% extends 'layout/app.html' %} {% load static %} {% block body %} {% include "elements/dropdownsoporte.html" %}
<!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800 ">Politica de soporte técnico</h1>

                   

                    <div class="row">

                        <div class="col-lg-12">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">SOPORTE TÉCNICO:</h6>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Es un servicio gratuito para los usuarios de TuCable,
                                        siempre y cuando no haya manipulación por parte del
                                        usuario (Normalmente quien identifica la manipulación es el
                                        técnico y en contadas ocasiones en oficina), en caso de
                                        presentarse, el usuario pagará el valor de $30.000 M/cte.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-12">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Requisitos para solicitar soporte técnico. </h6>
                                </div>
                                <div class="card-body">
                                    <p>
                                        <ul>
                                           <li>  
                                            Tramitar a través de los canales autorizados por la
                                            compañía.
                                           </li> 
                                           <li>  
                                            Estar al día en pagos.
                                           </li> 
                                           <li>  
                                            Presentar solicitud directa del titular o de un familiar, en
                                            primer grado de consanguinidad (Padres o Hijos tanto
                                            naturales como adoptivos) o segundo de afinidad (Hermanos,
                                            Abuelos o Nietos).
                                           </li> 
                                           <li>  
                                            Confirmar los números telefónicos de contacto, en caso
                                            de requerir actualización de datos (teléfonos de contacto,
                                            puntos adicionales y correo electrónico) debe ser solicitada
                                            directamente por el titular, en caso de estar en oficina
                                            presenta cédula de ciudadanía , si es a través de las líneas de
                                            Call Center, debe comunicarse desde una de las líneas
                                            registradas en sistema.
                                           </li> 
                                           <li>  
                                            Informar tiempos de atención al usuario, los cuales varían
                                            según la agencia.
                                           </li> 
                                           <li>  
                                            Al momento de registrar la orden de servicio en el archivo
                                            SOPORTE TÉCNICO INTERNO, debemos consultar al
                                            usuario en todas las pestañas para verificar si tiene
                                            solicitudes pendientes.
                                           </li> 
                                           <li>  
                                            Una vez realizada la consulta, si presenta registros en la
                                            pestaña revisiones remotas superiores a 3 meses lo
                                            ingresamos nuevamente a revisiones remotas, ya que ha
                                            transcurrido un tiempo prudencial.
                                           </li> 
                                           <li>  
                                            Si el soporte es inferior a este tiempo, se procede a realizar
                                            orden de reclamos en SAE PLUS para que sea atendida en
                                            terreno*.
                                           </li> 
                                           <li>  
                                            Se debe tener en cuenta que si al momento de
                                            consultar al usuario vemos que tiene un registro
                                            pendiente por atención en la pestaña Revisiones
                                            Remotas y se comunica manifestando que se ha
                                            quedado sin navegación, trasladamos la información a
                                            pestaña sin internet, adicionando a la observación que
                                            ya tiene, que no navega. Eliminamos el registro en
                                            pestaña soportes remotos.
                                            
                                           </li> 
                                           <li>  

                                           </li> 
                                         
                                        </ul>
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                        



                   
                   

                </div>


                </div>

            </div>
        </div>

        <!-- /.container-fluid -->
{% endblock %} {% block javascript %} {% endblock %}