  {% extends 'layout/app.html' %} {% load static %} {% block body %} {% include "elements/dropdowntraslados.html" %}
   <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800 ">TRASLADOS</h1>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 text-center">
                                    <h5 class="m-0 font-weight-bold text-primary">Traslado en la zona</h5>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Valor del traslado. $30.000.<br>
                                        • Requisitos:<br>
                                        • Solicitud directa bien sea del titular o de un familiar, en
                                        primer grado de consanguinidad o segundo de afinidad.<br>
                                        • Tramitar presencialmente en oficina. En caso de hacer la
                                        solicitud a traves del Call Center, debe pagar el valor del
                                        servicio por transferencia, MiPagoamigo, a través de la
                                        página www.tucable.net o ingresando al siguiente link: <a href="  https://app.grupo-bit.com/intranet/#/payment/dHVfY2FibGU"
                                        >https://app.grupo-bit.com/intranet/#/payment/dHVfY2FibGU</a>
                                        una vez recibido el pago se puede proceder con la solicitud.<br>
                                        • Estar al día en pagos.<br>
                                        • Es importante tener en cuenta que el usuario tiene plazo
                                        máximo para el pago de su factura hasta el último día del
                                        mes, si supera este plazo, debe pagar la factura y el valor
                                        del traslado.<br>
                                        • Verificar zona de cobertura.<br>
                                        • Presentar un recibo público de agua, gas o energía de la
                                        nueva vivienda.<br>
                                        • Aunque este es un requisito, se debe tener en cuenta que
                                        si la persona NO cuenta con el recibo público NO
                                        podemos negar la prestación del servicio. En este caso el
                                        asesor de servicio y recaudo que genere la orden de
                                        traslado debe hacer seguimiento hasta la entrega del
                                        recibo público, para su digitalización y anexo en SAE
                                        PLUS.<br>
                                        • Si la solicitud y orden para el servicio se hizo mediante el
                                        Call Center, debe enviar foto del recibo publico para
                                        anexarlo.<br>
                                        • El servicio se efectuará al tercer día hábil contado a partir
                                        del día siguiente al que hace la solicitud. (Aplica para
                                        oficinas propias de la marca)*<br>
                                        • Actualizar datos.<br>
                                        • En los casos que el titular se acerque a solicitar el traslado
                                        entre el 25 al último día del mes y solicite cambio de
                                        plan, debe pagar el servicio de traslado, y la factura en el
                                        caso de estar vencida.<br>
                                        • En el caso de los usuarios que soliciten traslado y tengan
                                        servicios de solo televisión, debemos ofrecer la migración a DÚO. Si el
                                        titular acepta debe firmar el CONTRATO ÚNICO DE SERVICIOS
                                        FIJOS, en el cual se registra el valor del internet sin incluir el costo de
                                        la televisión, ya que cuenta con un contrato firmado por este servicio.
                                        Si no acepta debemos informarle que la empresa ya no oferta servicios
                                        de solo Televisión por lo que procede la cancelación del contrato.<br>
                                        Que registrar en la orden de traslado:<br>
                                        En el campo DESCRIPCIÓN DE LA ORDEN, registramos:<br>
                                        • Número del precinto.<br>
                                        • Registrar la anterior dirección.<br>
                                        • Si pagó o no el servicio solicitado.<br>
                                        • Si entregó o no copia del recibo público.<br>
                                        • Puntos de Televisión a trasladar.<br>
                                        • Si la persona indica que tiene más de dos puntos de televisión,
                                        debemos validar en el sistema de Gestión de Clientes, que haya
                                        hecho el pago del punto que está incluyendo en su solicitud y verificar
                                        que la información esté registrada en el campo Puntos Adicionales,
                                        si no está registrada la información la actualizamos.<br>
                                        • Si el punto adicional no ha sido cancelado y desea solicitarlo al
                                        momento del traslado, tendrá un valor de $20.000 (antes de
                                        instalación), adicional al valor del traslado.<br>
                                        • Si se realizó cambio de plan registrarlo en la descripción de la
                                        orden, hacer el cambio en SAE PLUS y registrarlo en SOPORTE
                                        TÉCNICO INTERNO pestaña cambios de plan, en la observación
                                        registramos que solicitó traslado, se debe tener en cuenta que si es
                                        antes del 14 del mes, se debe cargar la factura y hacer seguimiento
                                        para el ajuste que corresponda.<br>
                                        • *Los tiempos del servicio varían según la agencia.<br>
                                        • Importante: Informar al usuario el cambio de plan y las tarifas
                                        a cancelar en el caso que se haya generado cambio de plan.
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                     {% endblock %} {% block javascript %} {% endblock %}