{% extends 'layout/app.html' %} {% load static %} {% block body %} {% include "elements/dropdownventas.html" %}
<div class="container-fluid">
  <h1 class="h3 mb-4 text-gray-800">Política de Ventas</h1>
  <div class="row">
    <div class="col-lg-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3 text-center">
          <h5 class="m-0 font-weight-bold text-primary">HORARIOS DE ATENCIÓN CALL CENTER</h5>
        </div>
        <div class="card-body">
          <p>
                                        Lunes a Viernes de 8 am a 6 pm y sábados de 8 am a 3 pm,
                                        se atenderán temas relacionados con información, soporte,
                                        cambios de clave o de plan, facturación, PQRS o derechos
                                        de petición. <br> Aquellos usuarios que hagan contacto fuera de
                                        estos horarios recibirán atención al día hábil siguiente a su
                                        petición.<br>
                                        Domingos y festivos de 8 am a 3 pm, se atenderán
                                        exclusivamente solicitudes urgentes como caídas del servicio.<br>
                                        Aquellos usuarios que hagan contacto fuera de estos horarios
                                        recibirán atención al día hábil siguiente a su petición.
                                    </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div
      id="carouselExampleAutoplaying"
      class="carousel slide carousel-dark slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-lg-12">
              <div class="card shadow mb-4">
                <div class="card-header py-3 text-center">
                  <h5 class="m-0 font-weight-bold text-primary">
                    Los puntos de pago en efectivo 
                                        habilitados por la 
                                        compañía son:
                  </h5>
                </div>
                <div class="card-body">
                   <p>
                                        • Oficina Principal: Mz 21 Cs 30 2500 Lotes (Cuba). 
                                        Lunes a Viernes de 8AM-6PM JORNADA CONTINUA, 
                                        Sábadosde 8AM-3PM.<br>
                                        • Éxito de Cuba: Local 6. Lunes a Viernes de 8AM-6PM 
                                        JORNADA CONTINUA, Sábadosde 8AM-3PM.<br>
                                        • Cartago oficina Centro: Cra 4 # 14-03. Lunes a 
                                        Viernes de 8AM-12PM y de 2PM-6PM, Sábados de
                                        8AM-3PM.<br>
                                        • Cartago oficina San Jerónimo: Calle 7 # 14-102  La 
                                        Floresta Diagonal a Olímpica. Lunesa Viernes de 8AM-
                                        12PM y de 2PM-6PM, Sábadosde 8AM-3PM.<br>
                                        • Oficina La Virginia: Cr 9 # 8-23. Lunesa Viernes de 
                                        8AM-12PM y de 2PM-6PM, Sábadosde 8AM-3PM.<br>
                                        • Santa Rosa de Cabal oficina La Eugenia: Cra 23 #
                                        29B-26 Mz F Cs 107. Lunes a Viernes de 8AM-12PM
                                        y de 2PM-6PM, Sábadosde 8AM-3PM.<br>
                                        • Santa Rosa de Cabal oficina Centro: Cra 15 # 15-38
                                        Local 3. Lunes a Viernes de 8AM-12PM y de 2PM-
                                        6PM, Sábados de 8AM-3PM.<br>
                                        • Dosquebradas oficina Santa Mónica: Calle 18 # 20-
                                        153 Santa Mónica Local 4.  Lunes a Viernes de 8AM-
                                        12PM y de 2PM-6PM, Sábadosde 8AM-3PM.<br>
                                        • Dosquebradas oficina El Progreso: Centro Comercial
                                        El Progreso Local 55.  Lunes a Viernes de 08AM-7PM,
                                        Sábadosde 08AM-5PM.<br>
                                        • Oficina Chinchiná: Calle 10 # 6-36, frente a la Fiscalía. 
                                        Lunes a Viernes de 8AM-12PM y de 2PM-6PM,
                                        Sábados de 8AM-3PM.<br>
                                        • Oficina Centro: Cra 4 # 18-72. Lunes a Viernes de 8AM-
                                        6PM JORNADA CONTINUA, Sábadosde 8AM-3PM.<br>
                                        • Oficina San José del Guaviare: Calle 18 # 21 - 43 Barrio 
                                        Bello Horizonte. Lunes a Viernes de 8AM-12PM y de 2PM-
                                        6PM, Sábadosde 8AM-3PM.
                                       
                                    </p>
                </div>
              </div>
            </div>
            
          </div>
        </div>

        <div class="carousel-item ">
          <div class="row">
            <div class="col-lg-12">
              <div class="card shadow mb-4">
                <div class="card-header py-3 text-center">
                  <h5 class="m-0 font-weight-bold text-primary">Los puntos de pago en efectivo habilitados por la compañía son:</h5>
                </div>
                <div class="card-body">
                 • Samaria: Mz 18 Cs 23. Samaria II<br> Lunes a Viernes de 
                                        7AM-5PM JORNADA CONTINUA, Sábadosde 7AM-2PM. <br>
                                        Tel. 310-6272345.<br>
                                        • Villa Santana: Mz 34 Cs 17 <br> Lunes a Viernes de 8AM-
                                        12PM, y de 2PM-6PM, Sábados de 8AM-3PM. <br>
                                        Tel.
                                        311- 6549275.<br>
                                        • Oficina Altagracia: Av. principal Altagracia frente al 
                                        puestode salud.<br> Lunes a Viernes de 8AM-12PM y de 
                                        2PM-6PM, Sábados de 8AM-3PM. <br> Tel. 310-5787620.<br>
                                        • Oficina Parque Industrial: Mz 16 Cs 1 Ciudad Boquía, 
                                        frenteal ARA.<br> Lunes a Viernes de 8AM-12PM y de 2PM-
                                        6PM, Sábadosde 8AM-3PM.<br> Tel. 320-2703997.<br>
                                        • Anserma Nuevo: Cl 5 # 5-39 Centro. Lunes a Viernes de
                                        8AM-12PM y 2PM-6PM, Sábados de 8AM-1PM. <br>  Tel. 321-
                                        7651372. </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next"
      >
        <span class="carousel-control-next" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  {% endblock %} {% block javascript %} {% endblock %}
</div>
