{% extends 'layout/app.html' %} {% load static %} {% block body %} {% include "elements/dropdownventas.html" %}
<div class="container-fluid">
  <h1 class="h3 mb-4 text-gray-800">Política de Ventas</h1>
  <div class="row">
    <div class="col-lg-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3 text-center">
          <h5 class="m-0 font-weight-bold text-primary">Atencion</h5>
        </div>
        <div class="card-body">
          <p>
            • Presencial, en oficina o por desplazamiento del asesor a la casa
            del titular.<br />
            • Brindar información de los planes y servicios ofertados por la
            empresa.!
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div
      id="carouselExampleAutoplaying"
      class="carousel slide carousel-dark slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-lg-6">
              <div class="card shadow mb-4">
                <div class="card-header py-3 text-center">
                  <h5 class="m-0 font-weight-bold text-primary">
                    Requisitos Persona Natural:
                  </h5>
                </div>
                <div class="card-body">
                  <p>
                    • CiudadanosColombianos:Cédulade ciudadanía.<br />
                    • Ciudadanos Extranjeros: Cédula de Extranjería Vigente
                    (Documento expedido por el ministerio de relaciones
                    exteriores).<br />
                    • Ciudadanos Venezolanos: PPT Permiso de ProtecciónTemporal,
                    cancela la instalación más deposito. (Solo PPT a partir del
                    21 de septiembre de 2023)<br />
                    • Recibo público de agua, gas o energía.<br />
                    • Pagar el valor de la instalación del servicio ($68.000).
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card shadow mb-4">
                <div class="card-header py-3 text-center">
                  <h5 class="m-0 font-weight-bold text-primary">
                    Requisitos persona jurídica:
                  </h5>
                </div>
                <div class="card-body">
                  <p>
                    Todo NIT debe tener plan corporativo, sin excepción (a
                    partir del 29 agosto 2023)<br />
                    • Cédula del Representante Legal de la Empresa, principal o
                    suplente.<br />
                    • Certificado de existencia y representación legal de Cámara
                    y Comercio no superior a 90 días.<br />
                    • Copia del RUT.<br />
                    • Recibo público de gas o energía.<br />
                    • Paga valor de instalación ($136.000) y mensualidad
                    adelantada
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item ">
          <div class="row">
            <div class="col-lg-6">
              <div class="card shadow mb-4">
                <div class="card-header py-3 text-center">
                  <h5 class="m-0 font-weight-bold text-primary">IMPORTANTE</h5>
                </div>
                <div class="card-body">
                  <p>
                    Organizaciones que no están obligadas a registrarse ante
                    Cámara y Comercio como son : Asociaciones, Corporaciones,
                    Fundaciones, Iglesias, Confesiones Religiosas, Asociaciones
                    de Ministros, Instituciones de Educación Superior,
                    Institutos de Educación NO formal y formal, Conjuntos
                    Cerrados, presentaran Acto Constitutivo o de Comformación.
                    (A partir de 26 agosto 2023)<br />
                    En ambos casos se debe diligenciar el CONTRATO ÚNICO DE
                    SERVICIOS FIJOS. <br />
                    A partir del 24 de noviembre de 2022 se dio inicio a
                    diligenciar en la primera hoja del contrato, el campo
                    condiciones para la prestación, y la vigencia la cual
                    siempre será de 12 meses, independientemente del mes en el
                    que firme el contrato. (Este último a partir del 02 de enero
                    2024)<br />
                    A partir del 26 de agosto de 2023, todos los contratos deben
                    contar con firma y huella tanto en los originales como en
                    las copias. <br />
                    A partir del 09 de septiembre de 2023, se debe diligenciar
                    el campo "EL SERVICIO SE INSTALARA A MÁS TARDAR EL DÍA
                    ___/___/___, para esto se debe tener en cuenta la promesa de
                    instalación del servicio, recuerde que los días hábiles se
                    cuentan a partir del día siguiente a la firma del contrato.
                    <br />
                    Anexar foto del titular del servicio, donde se visualice la
                    segunda hoja del contrato y su número, más la cédula. En
                    caso de que la persona se niegue a aportar el registro
                    fotográfico, las firmas en el contrato deben ser iguales a
                    la firma de la cédula.<br />
                    Se debe entregar al titular del servicio, las copias azules
                    del contrato, el original del recibo de caja y un volante
                    con la grilla de canales.<br />
                    Los contratos se registran en sistema el mismo día que son
                    entregados en oficina..
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card shadow mb-4">
                <div class="card-header py-3 text-center">
                  <h5 class="m-0 font-weight-bold text-primary">
                    INFORMACIÓN IMPORTANTE PARA TENER EN CUENTA:
                  </h5>
                </div>
                <div class="card-body">
                  <p>
                    Referente al PPT, documento presentado por ciudadanos
                    venezolanos. La vigencia de este documento no es de 10 años
                    a partir de la fecha de expedición sino a partir del momento
                    en que legalizo su situación en Colombia; así, si la persona
                    se registro en Migración Colombia el 30 de mayo de 2021 y le
                    fue entregado el PPT hoy 24 de agosto de 2023, su fecha de
                    vencimiento será el 30 de mayo de 2031, algo que podemos
                    validar directamente en el documento en la parte inferior
                    izquierda bajo FECHA DE VENCIMIENTO.<br />
                    • Lo anterior nos lleva a recordar a todos los funcionarios
                    que reciben contratos en las oficinas a revisar con
                    detenimiento la fecha de vencimiento de dicho documento
                    antes de registrar el contrato en SAE PLUS. Si el documento
                    es válido, al momento de ingresar el contrato en sistema,
                    debemos dejar en el campo FECHA VENCIMIENTO PPT, su fecha de
                    vencimiento.<br />
                    • Todo ciudadano venezolano debe cancelar un deposito de
                    $300.000, los cuales serán devueltos al momento del retiro,
                    siempre y cuando quede al día por todo concepto y haga
                    entrega de módem y su cargador.<br />
                    • El PPT se debe digitalizar por ambas caras y anexar la
                    cédula venezolana. <br />
                    • Por último, aclaramos que la cedula del País de origen no
                    constituye Cédula de Extranjería. La cédula de extranjería
                    es un documento que emite el Ministerio de Relaciones
                    Exteriores y el cual también cuenta con fecha de
                    vencimiento, por lo que también debemos validarla en el caso
                    que se presente y registrar la fecha de vencimiento en el
                    campo FECHA VENCIMIENTO PPT.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  {% endblock %} {% block javascript %} {% endblock %}
</div>
